
:root {
    --bg-side-bar: #21263c;
    --bg-logo: #181c2e;
}

body {
    margin: 0;
}

.master-layout {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: 15rem 1fr;
}

.menu {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--bg-side-bar);
    color: white;
}

.header {
    background: #f7f7fe;
    border: 1px solid #f0f0f0;
}

.main {
    padding: 0.5rem;
}

.footer {
    background: #e7e7e7;
}

.main-layout {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-rows: 3rem 1fr;
}

ul.menus {
    margin: 1rem 0.5rem;
    padding: 0rem;
    border-radius: 0.2rem;
}

ul li {
    list-style: none;
    cursor: pointer;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background: #181c2e;
}

ul li:active {
    background: #a6c2e9;
}

ul li[active="true"] {
    background: #408dfb;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 100%;
    height: 100%;
}